.top-scroll {
    position: fixed;
    bottom: 16px;
    right: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.show-button {
    opacity: 1;
    pointer-events: visible;
}